{% extends "AnpiCheckSystemApp/layout.html" %}
<!-------------------------------------------------->
<!-- 連絡履歴画面                                 -->
<!-------------------------------------------------->

<!-- 外部リンク定義 -->
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_list.css' %}" />
    <script type="text/javascript" src="{% static 'js/AnswerStatus.js' %}"></script>
{% endblock %}


<!-- メインコンテンツ -->
{% block content %}
    <!-- 連絡履歴の一覧 -->
    <div id="history_list">

        <div class="each_history_list">
            <li>台風19号関連ー安否確認（タイトル）</li>
            <li>回答状況：<div class="AnswerStatus">未回答</div></li>
            <li>期限：2019年10月13日　12:00 ～ 2019年10月14日　12:00</li>
        </div>
        <div class="each_history_list">
            <li>台風19号関連ー安否確認（タイトル）</li>
            <li>回答状況：<div class="AnswerStatus">回答済み</div></li>
            <li>期限：2019年10月13日　12:00 ～ 2019年10月14日　12:00</li>
        </div>
        <div class="each_history_list">
            <li>台風19号関連ー安否確認（タイトル）</li>
            <li>回答状況：<div class="AnswerStatus">未回答</div></li>
            <li>期限：2019年10月13日　12:00 ～ 2019年10月14日　12:00</li>
        </div>
        <div class="each_history_list">
            <li>台風19号関連ー安否確認（タイトル）</li>
            <li>回答状況：<div class="AnswerStatus">回答済み</div></li>
            <li>期限：2019年10月13日　12:00 ～ 2019年10月14日　12:00</li>
        </div>
        <div class="each_history_list">
            <li>台風19号関連ー安否確認（タイトル）</li>
            <li>回答状況：<div class="AnswerStatus">未回答</div></li>
            <li>期限：2019年10月13日　12:00 ～ 2019年10月14日　12:00</li>
        </div>
        <div class="each_history_list">
            <li>台風19号関連ー安否確認（タイトル）</li>
            <li>回答状況：<div class="AnswerStatus">未回答</div></li>
            <li>期限：2019年10月13日　12:00 ～ 2019年10月14日　12:00</li>
        </div>
        <div class="each_history_list">
            <li>台風19号関連ー安否確認（タイトル）</li>
            <li>回答状況：<div class="AnswerStatus">未回答</div></li>
            <li>期限：2019年10月13日　12:00 ～ 2019年10月14日　12:00</li>
        </div>
    </div>

{% endblock %}