{% extends "AnpiCheckSystemApp/layout.html" %}

{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_mail_send.css' %}" />
{% endblock %}

<!-- ヘッダー -->
{% block header_left %}
    <h2 id="header_left"><a href="manage_main">←戻る</a></h2>
{% endblock %}

{% block header_right %}
    <h2 id="header_right">送信</h2>
{% endblock %}

<!-- メインコンテンツ -->
{% block content %}

        <table>
            <tr id="SendDate">
                <th>日付</th>
                <td><input type="text" name="SendDate" placeholder="開始日を入力してください。"></td>
            </tr>

            <tr id="mail_title">
                <th>件名</th>
                <td><input type="text" name="mail_title"  placeholder="件名を入力してください。"></td>
            </tr>

            <tr id="message">
                  <th>本文</th>
                <td><textarea name="message" id="message_content" placeholder="本文を入力してください。"></textarea></td>
            </tr>
        </table>

{% endblock %}
