{% extends "AnpiCheckSystemApp/layout.html" %}
<!-------------------------------------------------->
<!-- 管理者画面                                   -->
<!-------------------------------------------------->

<!-- 外部リンク定義 -->
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_links.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_history_detail.css' %}" />
{% endblock %}

<!-- メインコンテンツ -->
{% block content %}

    <!-- 各ページへのリンク -->
    <div id="main-content">
        <p><a href="mail_send">安否確認メールの送信</a></p>
        <p><a href="manage_result">集計結果の閲覧</a></p>
        <p><a href="user_add_delete">ユーザの登録</a></p>
    </div>

{% endblock %}
