<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" charset="UTF-8" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_header.css">
    <link rel="stylesheet" href="../static/css/style_footer.css">
    <link rel="stylesheet" href="../static/css/style_links.css">
    <script src="../static/js/PageMove.js" charset="utf-8"></script>
    <title>設定画面</title>
  </head>

  <body>
    <div class="wapper">

    <!-- ヘッダー -->
    <header class="page-header">
        <h2 id="header_left">←ダミー</h2>
        <h1 id="title">安否確認システム 設定画面</h1>
        <h2 id="header_right">ダミー→</h2>
    </header>

    <!-- メインコンテンツ -->
    <div id="main-content">

        <!-- ログアウト -->
        <p id="logout"><a href="login.html">ログアウト</a></p>

    </div>

    <!-- フッター -->
    <div id="page-footer">
        <div id="history">
            <a href="history.html"><button type="submit" class="submit" name="submit" value="code"><img src="../static/images/150px_history.png"><br>連絡履歴</button></a>
        </div>
        <div id="master">
            <a href="manage_main.html"><button type="submit" class="submit" name="submit" value="code"><img src="../static/images/150px_man.png"><br>管理者画面</button></a>
        </div>
        <div id="setting">
            <a href="setting.html"><button type="submit" class="submit" name="submit" value="code"><img src="../static/images/150px_setting.png"><br>設定</button></a>
        </div>
    </div>
    </div>
</body>
</html>
