{% extends "AnpiCheckSystemApp/layout.html" %}
<!-------------------------------------------------->
<!-- 設定画面                                     -->
<!-------------------------------------------------->

<!-- 外部リンク定義 -->
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_links.css' %}" />
{% endblock %}

<!-- メインコンテンツ -->
{% block content %}

    <div id="main-content">
        <!-- ログアウト -->
        <p id="logout"><a href="login">ログアウト</a></p>
    </div>

{% endblock %}